extends admin-layout

block content
	h1= title
	
	include admin-navi
			
	#details
		form(method="post")
			input(type="hidden", name="_method", value="PUT")
			
			include page_form
			
			fieldset.action
				label= 'action'
				input(type="submit", value="update")

		form(method="post")
			fieldset.action
				input(type="hidden", name="_method", value="DELETE")
			
				label= ''
				input(type="submit", value="delete")