extends admin-layout

block content
	h1= title
	
	include sitetree

	#details
		form( method="post")
			label title
			input(type="text", name="title", value="")
			br
			br
			
			label url
			input(type="text", name="url", value="")
			br
			br
			
			label content
			textarea(name="content", cols=40, rows=5)
				= ''
			br
			br
			
			label= 'action'
			input(type="submit", value="create site")