extends admin-layout

block content
	h1= title
	
	include sitetree

	#details
		form( method="post")
			
			include page_form
			
			fieldset.action
				label= 'action'
				input(type="submit", value="create site")