doctype 5
html
	head
		title= title + ' | node cms'
		link(rel='stylesheet', href='/static/stylesheets/style.css')
		link(rel='stylesheet', href='/static/stylesheets/style-mobile.css')
	body
		#header 
			h1 node cms
		ul#navigation
			- each p in pages
				li 
					if p.url == page.url
						a(href="/"+p.url, class="current")!= p.title
					else
						a(href="/"+p.url)!= p.title
		#clear
		#content
			block content
			#clear
