body {
  margin: 0px;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ddd;
}

a {
  color: #000AA;
  text-decoration: none;
}
a:hover {
  color: #000;
}

a.current {
  color: #0000FF;
}

#navi {
  float: left;
  width: 10%;
  background-color: #ddd;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

ul li {
  padding-left: 5px;
}

ul li ul {
  margin-left: 15px;
}

#details {
  float: right;
  width: 89%;
  background-color: #ddd;
}

label {
  width: 10%;
  float: left;
}

input, textarea {
  width: 89%;
  padding-left: 0%;
  margin-left: 0%;
}

fieldset {
	border: none;
}
ieldset.action {
	margin: 0px;
	padding: 0px;
}

#details fieldset.action input {
	width: auto;
}

ul.errors {
	color: red;
	border: 1px solid red;
	background-color: #eff;
	margin: 0px 0px 20px 0px;
	padding: 15px;
	list-style: none;
}

textarea {
	height: 350px;
}